.contain {
	width: 100%;
	height: 100%;
	background: url("./../images/lesson/bg.png") 0 0 no-repeat;
	min-width: 1300px;
	min-height: 900px;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.enroll {
	width: 449px;
	height: 600px;
	background: url("./../images/lesson/login.png") 0 0 no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 28%;
	right: 16%;
}

.enroll_content {
	margin: 100px 45px;
}

.enroll_top {
	width: 100%;
	height: 70px;
}
.enroll_top_ul{
	width:100%;
}
.enroll_top_ul li {
	width: 50%;
	text-align: center;
	float: left;
	font-size: 26px;
	/*color:#999;*/
	cursor:pointer;
}
li{
	color:#999;
}
/*.color{
	color:#333;
}*/
/*登录--begin*/
.enroll_man {
	margin-top: 50px;
	display: block;
}

.login_one {
	height: 35px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.login_one_i {
	width: 18px;
	height: 18px;
	background: url("./../images/lesson/accounts.png") 0 0 no-repeat;
	position: absolute;
	top: 10px;
	left: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
     -moz-appearance:textfield;
    margin: 0;
}

.Iptone {
	width: 100%;
	height: 100%;
	font-size: 16px;
	letter-spacing: 1.5px;
	color: #999;
	padding-left: 30px;
	/*outline: none;*/
	-webkit-appearance:textfield;
	/*appearance: none;*/
 /*-webkit-appearance: none;*/ 
/*-moz-appearance: none;*/
}

.login_two {
	height: 35px;
	margin-top: 60px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.Iputwo {
	width: 100%;
	height: 100%;
	font-size: 16px;
	letter-spacing: 1.5px;
	color: #999;
	padding-left: 30px;
}

.login_two_i {
	width: 18px;
	height: 18px;
	background: url("./../images/lesson/cipher.png") 0 0 no-repeat;
	position: absolute;
	top: 10px;
	left: 4px;
}

.forgetCipher {
	color: #999;
	margin:30px 0px 50px 0px;
	overflow: hidden;
	cursor: pointer;
}
.forgetCipher_left{
	float: left;
}
.forgetCipher_right{
	float:right;
}
.login_btn {
	width: 358px;
	height: 77px;
	background: linear-gradient(to right, #0fe5fe, #4caffe);
	outline: none;
	color: #fff;
	font-size: 32px;
	letter-spacing: 3px;
	border-radius: 0px 20px 0px 20px;
	cursor: pointer;
}
/*登录--end*/
/*注册--start*/
.hide{
	display: none;
}
.show{
	display: none;
}
.register_man{
	margin-top: 50px;
	display: none;
}
.register_one input::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.register_one{
	height: 35px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.register_Ipt{
	padding-left: 30px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color:#999;
}
.register_Ipt{
	height: 100%;
}
.register_one_i{
	width:18px;
	height: 18px;
	background: url("./../images/lesson/accounts.png") 0 0 no-repeat;
	position: absolute;
	top: 9px;
	left:4px;
}

.register_two input::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.register_two{
	height: 35px;
	position: relative;
	margin-top: 50px;
}

.register_Ipt_one{
	height: 100%;
	padding-left: 30px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color:#999;
	border-bottom: 1px solid #ccc;
}
.register_tow_i{
	width:18px;
	height: 18px;
	background: url("./../images/lesson/identifying.png") 0 0 no-repeat;
	position: absolute;
	top: 9px;
	left:4px;
}
.register_Ipt_two{
	width:119px;
	height: 100%;
	color:#fff;
	font-size:16px;
	border-radius: 5px;
	background-color:#999;
	position: absolute;
	top:0px;
	right:0px;
	cursor:pointer;
}

.register_man_btn{
	width:358px;
	height: 77px;
	margin-top:60px;
	background:linear-gradient(to right,#05eefe,#4ab0fe);
	outline: none;
	color: #fff;
	font-size: 32px;
	letter-spacing: 3px;
	border-radius: 0px 20px 0px 20px;
	cursor: pointer;
}
.register_p{
	height: 20px;
	margin-top: 20px;
	color: #999;
	font-size:14px;
}
.register_p span{
	display: none;
}
/*注册next--start*/
.continue_man{
	margin-top: 50px;
	display: none;
}
.continue_one{
	height: 35px;
	position: relative;
}
.continue_one_i{
	width:18px;
	height: 18px;
	background: url("./../images/lesson/accounts.png") 0 0 no-repeat;
	position: absolute;
	top: 9px;
	left:4px;
}

.continue_Ipt_one{
	width:100%;
	height: 100%;
	padding-left: 30px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color:#999;
	border-bottom: 1px solid #ccc;
}
.continue_two{
	height: 35px;
	position: relative;
	margin-top: 50px;
}
.continue_two_i{
	width:18px;
	height: 18px;
	background: url("./../images/lesson/cipher.png") 0 0 no-repeat;
	position: absolute;
	top: 9px;
	left:4px;
}
.continue_Ipt_two{
	width:100%;
	height: 100%;
	padding-left: 30px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color:#999;
	border-bottom: 1px solid #ccc;
}

.continue_three{
	height: 35px;
	position: relative;
	margin-top:50px;
}
.continue_three_i{
	width:18px;
	height: 18px;
	background: url("./../images/lesson/identifying.png") 0 0 no-repeat;
	position: absolute;
	top: 9px;
	left:4px;
}
.continue_Ipt_three{
	width:100%;
	height: 100%;
	padding-left: 30px;
	letter-spacing: 1.5px;
	font-size: 16px;
	color:#999;
	border-bottom: 1px solid #ccc;
}
.continue_man_button{
	width:358px;
	height: 77px;
	margin-top:60px;
	background:linear-gradient(to right,#05eefe,#4ab0fe);
	outline: none;
	color: #fff;
	font-size: 32px;
	letter-spacing: 3px;
	border-radius: 0px 20px 0px 20px;
	cursor: pointer;
}

















